//variable
$cienp:100%;


//
.padding-barra{
	padding-bottom: 170px;
}
.padding-top{
	padding-top: 100px;
}
#color-bar{

	background-color: #f2b19c;
	width: 90%;
	height: 50px;
    margin-top: 82px;
	position: absolute;
}
a{
	color:gray;
}
.float-left{
	float: left;
}
h5{
	    color: #e8603c;
}