

.width-p{
	width: 70px;
}
blockquote{
	border-left: 5px solid #e8603c;
	font-family: cursive;
}
//mixin
.galley{
	background-image: url(../images/galley_photo.png);
}
.row.aboutus {
    margin-top: 20px;
}
#img-p{

}