
form.form-style.float-right {
    width: 487px;
    margin-top: -144px;
    margin-right: 83px;
}
h4.bg-head {
    width: 102%;
    height: 30px;
    //background: url(../images/heading-bg.png);
    margin-top: 23px;
    margin-left: -60px;
} 
